.slider {
  padding: 107px 0 125px;
  color: $white;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  background-color: $black;

  &__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__nav {
    display: flex;
    gap: 50px;

    @include laptop {
      display: block;
    }

    &::before {
      content: '';
      display: block;
      flex: 1 1 442px;

      @include laptop {
        display: none;
      }
    }

    &-wrapper {
      display: flex;
      flex: 0 1 680px;
      gap: 60px;
      margin: 0 0 45px;

      @include tablet {
        gap: 16px;
      }
    }

    &-btn {
      padding: 0 0 7px;
      color: $white;
      font-family: 'Yeseva One', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
      background: none;
      border: none;
      border-bottom: 1px solid rgba($color: $yellow, $alpha: 0);
      cursor: pointer;

      @include tablet {
        font-size: 12px;
        line-height: 16px;
      }

      &.active {
        color: $yellow;
        border-bottom: 1px solid rgba($color: $yellow, $alpha: 1);
      }
    }
  }

  &__page {
    display: flex;
    gap: 50px;

    @include laptop {
      display: block;
    }
  }

  &__swiper {
    position: relative;
    flex: 0 1 680px;
    order: 1;
    background-color: #333333;

    @include laptop {
      display: block;
      max-width: 100%;
      margin-bottom: 32px;
      aspect-ratio: 1.45 / 1;
    }

    & .swiper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }

    & img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 30px;

    @include laptop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      justify-content: center;
    }

    &-prev,
    &-next {
      flex: 0 0 44px;
      height: 14px;
      width: 44px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../assets/arrow.svg);
      cursor: pointer;
    }

    &-next {
      transform: rotate(180deg);
    }

    &-pagination {
      // flex: 0 0 auto;
      max-width: max-content;

      & .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: $white;
      }
    }
  }

  &__data {
    position: relative;
    flex: 1 1 442px;
    order: 0;

    @include laptop {
      padding: 82px 0 0;
    }

    &-title {
      display: flex;
      align-items: flex-end;
      gap: 8px;
      margin: 0 0 34px;
      color: $yellow;
      font-family: 'Yeseva One', sans-serif;
      font-size: 27px;
      font-weight: 400;
      line-height: 37px;
      letter-spacing: -1.89px;
      text-transform: uppercase;

      & span {
        display: inline-block;
        width: min-content;
        order: 0;

        @include laptop {
          width: auto;
        }

        @include mobile {
          width: min-content;
        }
      }

      &::before {
        content: '';
        order: 1;
        display: block;
        height: 1px;
        width: 21%;
        max-width: 92px;
        margin-bottom: 19px;
        background-color: $yellow;
      }
    }

    &-description {
      margin: 0 0 42px;
      color: $white;
      font-size: 14px;
      font-weight: 400;
      line-height: 27px;
    }

    &-info {
      display: flex;
      flex-wrap: wrap;
      gap: 34px 29px;
      margin: 0 0 82px;

      @include laptop {
        margin: 0;
      }

      @include mobile {
        gap: 12px;
      }

      @include mobilesm {
        display: block;
      }

      &-item {
        flex: 1 1 40%;

        @include laptop {
          flex: 1 1 18%;
        }

        @include tablet {
          flex: 0 1 132px;
        }

        @include mobilesm {
          margin-bottom: 12px;
        }

        &:nth-child(2n) {
          flex: 1 1 50%;

          @include laptop {
            flex: 1 1 25%;
          }

          @include tablet {
            flex: 1 1 70%;
          }

          @include mobile {
            flex: 1 1 50%;
          }
        }
      }

      &-title {
        margin: 0 0 9px;
        color: $yellow;
        font-family: 'Yeseva One', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
      }

      &-text {
        display: flex;
        flex-direction: column;
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }
}
